@media only screen and (max-width: 75em) {
    .container {
        width: 95%;
    }
}
@media (max-width:47em) {
    .bot{
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 80% !important;
        margin: 0 auto;
              
    }
    .box-description{
        padding: 0.5em 1em !important;
    }
    .footer-texts{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1;
    }
    .final-text{
        text-align: center;
    }
    .lg{
        justify-content: center;
    }
    #menu{
        display: block !important; 
    }
    #back{
        display: none;
    }

} 